<div class="container bg-light">
  <h2>Contact</h2>
  <p>Donec ullamcorper nulla non metus fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
  <div class="w-75 m-auto p-3 border-radius bg-secondary ">
    <div class="mb-3 row " >
      <label for="exampleFormControlInput1" class="form-label col-2 d-flex justify-content-end"> <strong>Your E-mail</strong></label>
      <div class="col-10"> 
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
    </div>
    <div class=" row">
      <label for="exampleFormControlTextarea1" class="form-label col-2 d-flex justify-content-end"> <strong>Your message</strong></label>
      <div class="col-10 "> 
      <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"  placeholder="Please enter your message here..."></textarea>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button class="btn btn-primary" type="button">Submit</button>
      </div>

    </div>
  
  </div>
</div>  