     <div class="card" style="position: relative; display: flex; align-items: center; justify-content: center;">
        <img src="https://img.freepik.com/foto-gratis/horizonte-chicago-sobre-lago-michigan_649448-1100.jpg?w=996&t=st=1679451252~exp=1679451852~hmac=f530b6bd30834a26df2070aabeff5e4001eee3dd69c51fab781e32d253ecec15" class="card-img-top" alt="...">
        <div class="card-img-overlay" style="position: absolute; top: 0; left: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <h5 class="card-title w-100 fw-bold" style="background-color: white; padding: 10px; text-align: center; font-size:90px; ">One Page Wonder</h5>
            <h5 class="card-title w-100 " style="background-color: white; padding: 10px; text-align: center; font-size:50px;">Will Knock Your Socks Off</h5>
        </div>
    </div>
